# General
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Backend (Node.js)
backend/node_modules/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/pids
backend/logs
backend/*.pid
backend/*.seed
backend/*.pid.lock
backend/coverage/
backend/.nyc_output/

# Frontend (Flutter)
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web related
frontend/lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release

# iOS 
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/ios/Flutter/Flutter.podspec
frontend/ios/Flutter/Generated.xcconfig
frontend/ios/Flutter/app.flx
frontend/ios/Flutter/app.zip
frontend/ios/Flutter/flutter_assets/
frontend/ios/Flutter/flutter_export_environment.sh
frontend/ios/ServiceDefinitions.json
frontend/ios/Runner/GeneratedPluginRegistrant.*
